@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #171717;
  --ttc-red: #DA291C;
  --ttc-yellow: #FFC72C;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Glitch Utilities */
@keyframes glitch-anim {
  0% {
    clip-path: inset(50% 0 30% 0);
    transform: translate(-2px, 2px);
  }
  20% {
    clip-path: inset(10% 0 60% 0);
    transform: translate(2px, -2px);
  }
  40% {
    clip-path: inset(40% 0 40% 0);
    transform: translate(-2px, 2px);
  }
  60% {
    clip-path: inset(80% 0 5% 0);
    transform: translate(2px, -2px);
  }
  80% {
    clip-path: inset(30% 0 20% 0);
    transform: translate(-1px, 1px);
  }
  100% {
    clip-path: inset(50% 0 30% 0);
    transform: translate(0);
  }
}

.glitch-text {
  position: relative;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 #DA291C;
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: -1px 0 #FFC72C;
  animation: glitch-anim 3s infinite linear alternate-reverse;
}
